.announcement-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 30px; /* controla a altura visível da animação */
  margin-bottom: 20px;
}

.announcement {
  display: inline-block;
  white-space: nowrap;
  color: gold;
  font-size: 24px;
  font-weight: bold;
  animation: scroll-right 10s linear infinite;
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
